## Project One: Using heart disease dataset 

Practicing ML to predict heart disease based on medical attribute from the datasete

OUtline:
1.Problem definition
2.Data
3.Evaluation
4.Features
5.Modelling
6.Expremitation

## 1. Problem Definition

Given clinical parameters about a patientm can we predict whether or not they have heart disease?

## 2. Data

Do research on the data, like kaggel and extract the data dictionaire. 
add link

## 3. Evaluation

What would be the metric of success before starting the project, Brainstorm with the team and decided 
> if we can reach 95% accuracy at predicting whether or not a patient has heart disease during the proof of concept, we'll pursue the project.

## 4. Features

** Create Data Dictionairy **
get the additionall information of each feature of the data, do research or let the expret(someone who know the dataset).
eg. 1. age = age in years
    2. sex (1 = male; 0= female)
    3. chol - serem cholestoral in mg/dl
    4. trestbps - resting blood pressure
    .
    .
    .

In [2]:
## Preparing the tools
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline 

# Models from sklearn 
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

# Models Evalution tools
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.metrics import precision_score, recall_score, f1_score
from sklearn.metrics import plot_roc_curve

## Load Data

In [8]:
df = pd.read_csv('dataset/heart-disease.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## Explore The Data (exploratory data analysis or EDA)
find out more about the data 
checklist:
1.what question are you trying to solve?
2.what kind of data do we have and how do we treat different types?
3.What's missing from the data and how do you deal with it?
4.Where are the outliears and why should you care about them?
5.How can you add, change or remove feature to get more out of your data?

In [7]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
# Find out how many of each class there 
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64